body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 40px;
}
.search-container {
    display: flex;
    max-width: 600px;
    margin: 0 auto 20px;
}

.search-bar {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 50px 0 0 50px;
    font-size: 16px;
    background-color: #d1d1d1;
    font-weight: bold;
}

.search-button {
    padding: 12px 25px;
    border: none;
    background-color: #8da66d;
    color: white;
    font-size: 16px;
    font-family: 'IBM Plex Sans';
    border-radius: 0 50px 50px 0;
    cursor: pointer;
}

.transactions {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #000;
}

.transaction {
    border-bottom: 1px solid #000;
}

.transaction-header {
    background-color: #c3d2a2;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #000;
    transition: background-color 0.3s ease;
}

.transaction-header.active:hover {
    background-color: #b0c494;
}

/* drop down effect kumpuru */
.transaction-content {
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    transition: max-height 0.5s ease-in-out, padding 0.3s ease;
    padding: 0 15px;
}

.transaction-content.open {
    max-height: 200px;
    padding: 15px;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-weight: 500;
    border-bottom: 1px solid #000;
}

.transaction-item:last-child {
    border-bottom: none;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    appearance: none;
    border: 2px solid #d0dcb3;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked {
    background-color: #d0dcb3;
    border-color: #a6b07f;
}

input[type="checkbox"]::after {
    content: '✔';
    color: #000;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 3px;
    top: -1px;
    display: none;
}

input[type="checkbox"]:checked::after {
    display: block;
}
