body {
  background-color: rgb(253, 253, 251);
  font-family: IBM Plex Sans;
}

.search-container {
  display: flex;
  max-width: 600px;
  margin: 0 auto 20px;
}

.search-bar {
  flex: 1;
  padding: 7px;
  border: 1px solid rgb(204, 204, 204);
  border-right: none;
  border-radius: 50px 0 0 50px;
  font-size: 16px;
  background-color: rgb(209, 209, 209); 
  font-weight: bold;
}

.search-button {
  padding: 12px 25px;
  border: none;
  background-color: rgb(144, 174, 94);
  color: white;
  font-size: 16px;
  font-family: 'IBM Plex Sans', 'Arial';
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}

.search-button:hover {
  opacity: 1;
  background-color: rgb(99, 133, 46);
}

.dashboard-body {
  margin: 30px 80px 10px 80px;
}

.company-head {
  display: flex;
  flex-direction: row;
  margin: 0px 15px 0px 10px;
  justify-content: space-between;
}

.add-company {
  background-color: rgb(144, 174, 94);
  padding: 0px 5px 7px 20px;
  border: none;
  border-radius: 15px;
  font-family: 'IBM Plex Sans', 'Arial';
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
}

.add-symbol {
  width: 20px;
  height: 20px;
}

.company-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0px 40px 0;
}

.company-container {
  background-color: rgb(144, 174, 94);
  padding: 10px 10px 10px 10px;
  margin: 0px 15px 0px 15px;
  border-style: none;
  border-radius: 25px;
  cursor: pointer;
  transition: box-shadow 0.15s,
              opacity 0.1s;
}

.company-container:hover {
  box-shadow: 0px 0px 20px rgb(135, 164, 89);
}

.company-container:active {
  opacity: 0.7;
}

.company-title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 13px;
}

.company-logo {
  width: 200px;
  height: 200px;
}